#outer{
    background-color: pink;
}

#outer.select{
    background-color: purple;
}

#inner.select{
    background-color: yellow;
}

#inner{
    background-color: white;
}

div{
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
}